<h2 >Gráfica de la Curva de Carga</h2>
<div>
    <div class="row">
        <div class="col-lg-1">

        </div>
        <div class="col-lg-5">
            <ol>
                <li>¿Cuál es el consumo mensual de su planilla de servicio eléctrico? [kWh]</li>
                <br>
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="Consumo">
                </div>
                <li>¿Cuantas personas habitan la vivienda? </li>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">Niños/Adolescentes</span>
                    <input type="text" class="form-control" [(ngModel)]="Nninos">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Adultos</span>
                    <input type="text" class="form-control" [(ngModel)]="Adultos">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Tercera Edad</span>
                    <input type="text" class="form-control" [(ngModel)]="TerEdad">
                </div>
                <br>
                <li>¿Cuántos adultos y personas de tercera edad trabajan? </li>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">Adultos</span>
                    <input type="text" class="form-control" [(ngModel)]="AdultosM">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Tercera Edad</span>
                    <input type="text" class="form-control" [(ngModel)]="TerEdadM">
                </div>
                <br>
            
                <li>¿En su casa tiene cocina de inducción?</li>
                <br>
                <label class="radio-inline">
                    <input type="radio" value="Si" name="Cocina"  [(ngModel)]="Cocina" >
                    Si
                </label>
                <label class="radio-inline">
                    <input type="radio" value="No" name="Cocina"  [(ngModel)]="Cocina">
                    No
                </label>
                <br>
                <br>
                <li>¿En su casa tiene lavadora?</li>
                <br>
                <label class="radio-inline">
                    <input type="radio" value="Si" name="TLavadora"  [(ngModel)]="TLavadora">
                    Si
                </label>
                <label class="radio-inline">
                    <input type="radio" value="No" name="TLavadora"  [(ngModel)]="TLavadora">
                    No
                </label>
                <br>
                <br>
                <li>¿En su casa tiene secadora de ropa eléctrica?</li>
                <br>
                <label class="radio-inline">
                    <input type="radio" value="Si" name="Secadora" [(ngModel)]="Secadora">
                    Si
                </label>
                <label class="radio-inline">
                    <input type="radio" value="No" name="Secadora" [(ngModel)]="Secadora">
                    No
                </label>
                <br>
                <br>
                <li>¿En su casa tiene calefón o ducha eléctrico?</li>
                <br>
                <label class="radio-inline">
                    <input type="radio" value="Calefonelec" name="Calefon"  [(ngModel)]="Calefon">
                    Calefón eléctrico
                </label>
                <label class="radio-inline">
                    <input type="radio" value="Duchaelec" name="Calefon"   [(ngModel)]="Calefon">
                    Ducha eléctica
                </label>
                <label class="radio-inline">
                    <input type="radio" value="Ninguna" name="Calefon"   [(ngModel)]="Calefon">
                    Ninguno de los anteriores
                </label>
                <br>
                <br>
                <div class="bt-group-vertical">
                    <button type='submit' class="btn btn-primary" (click)='Dibujar()'[disabled]='Nninos===0 && Adultos===0 && TerEdad===0 || Cocina===False || TLavadora===False || Consumo===False || Secadora===False || Calefon===False'>Dibujar</button>
                    <br>
                    
                </div>
                
                </ol>
                <br>
                <br>
                <div class="container">
                    <div>
                        <p *ngIf='AdultosMM' class='Rojo'>{{AdultosMM}} </p> 
                    </div>
                    <br>
                    <div>
                        <p *ngIf='TerEdadMM' class='Rojo'>{{TerEdadMM}} </p> 
                    </div>
                </div>
                <br>
        </div>
        <div class="col-lg-5">
            <br>
            <p>El valor de Consumo requerido en la pregunta 1 puede ser encontrado en la planilla eléctrica donde se muestra en la siguiente imagen (Si aparece más de un valor, ingresar la sumatoria de todos los valores):</p>
            <br>
            <hr>
            <br>
            <div class="base1">
                <img src="assets/img/Planilla.jpeg" alt="Planilla" style="max-width: 100%;">
            </div>
        </div>
        <div class="col-lg-1">

        </div>
        <div class="container">
            <div class="col-lg-12">
                <canvas baseChart   
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins"></canvas>
            </div>
        </div>
        
        
    
        
       
        
            <div class="row">
                <div class="col-lg-9">

                </div>
                <div class="col-lg-3">
                    <button (click)="onSelect('Calculos')"  class="btn btn-primary" [disabled]='Nninos===0 && Adultos===0 && TerEdad===0 || AdultosC===0 || TerEdadC==0 || Cocina===False || TLavadora===False || Consumo===False || Secadora===False || Calefon===False || BT===0'>Siguiente</button>
                </div>
            </div>
        <br>
        <br>
    </div>
</div>







